{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name chromex-sample.popup, :imports nil, :requires {core chromex-sample.popup.core, chromex-sample.popup.core chromex-sample.popup.core}, :uses nil, :require-macros nil, :doc nil}