{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name chromex-sample.background, :imports nil, :requires {core chromex-sample.background.core, chromex-sample.background.core chromex-sample.background.core}, :uses nil, :require-macros nil, :doc nil}